{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'catalog:blog_create' %}">Создать статью</a>
</div>
<div class="row">
    {% for object in object_list %}
    <div class="col-lg-4">

        <img class="bd-placeholder-img rounded-circle" width="140" height="140"
             role="img" aria-label="Placeholder"
             src="{{ object.image.url }}" alt="{{ object.title }}">
        <h2 class="fw-normal">{{ object.title }}</h2>
        <p>{{ object.content | truncatechars:20 }}</p>
        <p><a class="btn btn-secondary" href="{% url 'catalog:blog_detail' object.slug %}">Смотреть &raquo;</a></p>
        <p><a class="btn btn-secondary" href="{% url 'catalog:blog_update' object.slug %}">Изменить &raquo;</a></p>
        <p><a class="btn btn-secondary" href="{% url 'catalog:blog_delete' object.slug %}">Удалить &raquo;</a>
        </p>

    </div><!-- /.col-lg-4 -->
    {% endfor %}
</div>
{% endblock %}